<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Recruiter Panel | RESUMEAI</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/recruiter.css') }}">
</head>
<body>

    <!-- Navbar -->

    <nav class="navbar">

        <div class="logo-section">

            <img src="{{ url_for('static',
                 filename='images/weblogo.png') }}"
                 class="logo">

            <h1>RESUMEAI</h1>

        </div>

        <ul class="nav-links">
            <li><a href="/home">Home</a></li>

            <li><a href="/dashboard">Dashboard</a></li>

            <li><a href="/logout">Logout</a></li>

        </ul>

    </nav>

    <!-- Main Section -->

    <section class="recruiter-section">

        <div class="recruiter-card">

            <h2>Multi Resume Ranking</h2>

            <form action="/rank_resumes"
                  method="POST"
                  enctype="multipart/form-data">

                <!-- Job Description -->

                <textarea
                    name="job_description"
                    placeholder="Paste Job Description Here..."
                    required></textarea>

                <!-- Multiple Upload -->

                <input type="file"
                       name="resumes"
                       multiple
                       required>

                <button type="submit">
                    Rank Candidates
                </button>

            </form>

        </div>

    </section>

</body>
</html>